html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gold;
    width: 400px;
    margin: 0 auto;
}

img {
    width: 400px;
    height: auto;
}

ul, h3, p, h1, img {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

